:root{
--main-001: #B0DBFC;
--main-002: #66BFFF;
--main-003: #62A3F4;
--button-001: #62A3F4;
--button-text: #FDFFEC;
--button-clicked: #486AC2;
--text-warn: #FF4848;
--text-black: #0C0D0E;
--text-grey:#828282;
--text-white:#FFFFFF;
--text-green:#81EE7F;
--border-001: #E3E6E8;
--border-002: #D6D9DC;
--border-003: #C8CCD0;
--font-size-sm: 14px;
--font-size-md: 18px;
--font-size-lg: 22px;
--font-size-h1: 34px;
--font-size-h2: 30px;
--font-size-h3: 26px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: "GmarketSansMedium";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}